<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User DataBase Details</title>
    <style>
      table,th,td {
         border:1px solid black;
         }
    </style>
</head>
<body>
    <h1>Show All Details about USERS</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>USERNAME</th>
            <th>EMAIL</th>
        </tr>
       
        <% for( user of users) { %>
            <tr>      
                 <td><%= user.id %></td>
                <td><%= user.username %></td>
                <td><%= user.email%> </td>
                <td>
                    <form method="get" action="/users/<%= user.id %>/edit">
                         <button>Edit Your Profile</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="/users/<%= user.id %>?_method=DELETE">
                        <button>DELETE USER</button>
                    </form>
                </td>
            </tr>
        <% } %>
    </table>
  
</body>
</html>